<h1>Hyperspace Lane</h1>
<p>The fastest way to navigate the galaxy</p>


<h2>English to Aurebesh translator</h2>


<div class="form-group" id="english-div">
    <label for="english">English</label>
    <textarea class="form-control" id="english-input" rows="3"></textarea>
</div>

<div class="form-group" id="aurebesh-div">
    <label for="aurebesh">Aurebesh</label>
    <textarea class="form-control" id="aurebesh-output" rows="3" readonly></textarea>
</div>

<div id="english-quote"></div>
<div id="aurebesh-quote"></div>