<section class="row">
    <div class="col-md-10 text-center mx-auto">
        <h1>Hyperspace Lane</h1>
        <p>The fastest way to navigate the galaxy</p>
    </div>
</section>


<main class="text-center">

<section>
    <div class="row">
        <div class="form-group mx-auto mt-3 col-md-9" id="english-div">
            <label for="english">Galactic Basic</label>
            <textarea class="form-control" id="english-input" rows="3"></textarea>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="form-group mx-auto mb-5 mt-3 col-md-9" id="aurebesh-div">
            <label for="aurebesh">Aurebesh</label>
            <textarea class="form-control" id="aurebesh-output" rows="3" readonly></textarea>
        </div>
    </div>
</section>

<div class="row">
    <div id="english-quote" class="col-md-9 mx-auto"></div>
    <div id="aurebesh-quote" class="col-md-9 mx-auto"></div>
</div>

</main>