/* ============== */
/* FONTS */
/* ============== */
/* aurebesh */
@font-face {
  font-family: 'aurebeshregular';
  src: url('../fonts/aurebesh/aurebesh-webfont.woff2') format('woff2'),
    url('../fonts/aurebesh/aurebesh-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* regular star wars */
@font-face {
  font-family: 'star_jediregular';
  src: url('../fonts/starjedi/starjedi-webfont.woff2') format('woff2'),
    url('../fonts/starjedi/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* hollow star wars */
@font-face {
  font-family: 'star_jedi_hollowregular';
  src: url('../fonts/starjedi/starjhol-webfont.woff2') format('woff2'),
    url('../fonts/starjedi/starjhol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ============== */
/* GENERAL STYLING */
/* ============== */
body {
  background: #000000;
  color: #ffe81f;
}

h1 {
  font-family: 'star_jedi_hollowregular';
  font-size: 85px;
}

#english-div label {
  font-family: 'star_jediregular';
}

#aurebesh-div,
#aurebesh-quote {
  font-family: 'aurebeshregular';
}

#aurebesh-div textarea {
  background: #bebebe;
}

label {
  font-weight: 800;
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 35px;
  }
}
